<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>{{color}}</p>
<p><a href="{{data}}" target="_blank">google</a></p>

{{#if user.username}}
    <h1>{{user.username}} is the admin!</h1>
    <h3>{{user.emailAddress}} is actually pickle rick!</h3>
    <h3>only logged in users can see whats in between these tags.</h3>
{{/if}}