<h1>Post articles here dammit!</h1>
<h2>{{test}}</h2>
<div class="flex row wrap">
    {{#if user}}
        {{#each articles as |article|}}
            {{#with article }}
                <div class="card-wrapper-sm flex col wrap">
                    <h1>{{title}}</h1>
                    <h3>{{author}}</h3>
                    <span>{{{formatBlurb body}}} <a href="/articles/{{id}}">read more</a></span>
                </div>
            {{/with}}

        {{/each}}
    {{/if}}
</div>

